*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradle/
/gradlew
/gradlew.bat
app/libs/
app/src/androidTest/
app/src/main/res/drawable/
app/src/test/
build.gradle
gradle.properties
settings.gradle
